<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ChatGptApp.App_Start.InitializeRoute, ChatGptApp" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
      </initialize>
    </pipelines>
    <services>
      <register serviceType="ChatGptApp.Controllers.ChatGptController, ChatGptApp" implementationType="ChatGptApp.Controllers.ChatGptController, ChatGptApp"></register>
      <register serviceType="ChatGptApp.Repository.ChatGptRepository, ChatGptApp" implementationType="ChatGptApp.Repository.ChatGptRepository, ChatGptApp"></register>
    </services>
  </sitecore>
</configuration>
